#contService {
  display: flex;
  background-color: #efefef;
  justify-content: center;
  height: auto;
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  padding-top: 17px;
}

#contService .row .col h3 {
  font-family: "Chewy", cursive;
  color: #75a8a6;
}

#contService th {
  font-family: "Chewy", cursive;
  color: #75a8a6;
  font-weight: lighter;
}

#contService p {
  padding-top: 10px;
}

#contService .row .col img {
  width: 200px;
  height: 110px;
}

#contService .row {
  display: flex;
  flex-direction: row;
  padding: 0px 30px 30px 30px;
}

#contService-sm .row {
  display: flex;
  flex-direction: row;
  padding: 0px 30px 30px 30px;
}

#contService .col {
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

#contService .row .col p {
  font-size: 15px;
}

#contService .row .col ul {
  list-style-type: square;
}

#contService .row .col ul li {
  font-size: 15px;
  text-align: left;
}

.table-responsive {
  width: 100%;
  table-layout: fixed;
  border-spacing: 5px;
  border: 1px solid #75a8a6;
  border-radius: 17px;
  border-collapse: collapse;
}

.table-responsive thead tr {
  display: table;
  width: 100%;
}

.table-responsive tbody {
  display: block;
  overflow: auto;
  height: 225px;
  width: 100%;
}

.table-responsive th, .table-responsive td {
  width: 200px;
}
