#contFooter {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column; */
  justify-content: space-around;
  width: 100%;
}

#contFooter > .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  width: 100%;
}

#contFooter > .row > .col {
  padding: 0 7px 0 7px;
}


table tbody tr td {
  text-align: left;
}

#footerLogos {
  display: flex;
  flex-wrap: column nowrap;
}

#footerLogos .col img {
  padding-right: 15px;
}

/* @media screen and (max-width: 575px) {
  #contFooter > .row {
    flex: column;

    justify-content: space-evenly;
  }
} */
